body{
	max-width:1024px;
	margin:0 auto;
  }
  header{
	max-width:1024px;
	height: auto;
  }
  .fan{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
  }
  .fan a{
	padding-right:10px;
	display:flex;
	align-items: flex-end;
	text-decoration: none;
	color:black;
  }
  .fan .line{
	font-size:20px;
	margin-right:10px;
  }
  .fan a img{
	height:20px;
	
  }
  .hex{
	height: auto;
	padding:0px;
	width:100%;
	display:flex;
	justify-content: space-between;

  }
  .hex .seconds{
	display:flex;
	align-items:flex-end;
  }
  .hex ul{
	align-items: flex-end;
	list-style:none;
	/*   這邊在js就有定義到，但是在網頁開啟時若沒寫這行還是會造成錯誤 */
  	display:flex;
  	margin-bottom: 0px;
  }
  .hex li{
	padding:20px;
  }
  .hex li a{
	color:#00cf9c;
	text-decoration: none;
  }
  .hex .active{
	border-bottom:5px solid #00cf9c;
  }
  /* 隱藏漢堡按鈕（默認情況下） */
  .hamburger {
	display: none;
	font-size: 40px;
	cursor: pointer ;
  }
  main{
	max-width: 1024px;
  }
  main .banner{
	background-image: url(../img/banner.png);
	width:100%;
	height: 351px;
	margin-bottom: 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
  }
  main .banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:white;
  }
  main .banner p{
	margin: 0;
	padding-left:20px;
	font-size:40px;
  }
  .threeclass{
	padding:25px;
	padding-bottom:0px;
	display: flex;
	justify-content: space-between;
	max-width: 1024px;
	align-items: flex-end;
	
  }
  .class{
	padding:10px;
	box-shadow:0px 10px 10px -10px black;
  }
  .class img{
	width:100%;
  }
  .class .word{
	padding:10px;
  }

  .class p{
	text-align-last: justify;
	 margin: 0 auto;
  } 
  .class .last{
	text-align-last:left;
	 margin: 0 auto;
  } 
  .class .first3{
	text-align-last:left;
  }
  .class ul{
	margin:0 auto;
  }
  .class h1{
	font-size: 25px;
	text-align:center;
	margin: 0;
 }
  .class .space{
	height:23px;
  }
  .difference
  {
	margin-top: 62px;
	text-align: center;
  }
  table{
	table-layout:fixed;
	width:80%;
	margin:0 auto;
  }
  table tr{
	
	box-shadow: 0px 5px 10px -10px;
  }
  table .firsttr{
	box-shadow: 0px -5px 10px -10px,0px 5px 10px -10px;
  }
  table td,table th{
	text-align: left;
  }
  table tbody .tgreen
  {
	color:#2cba8a;
  }
  .finput{
	padding:20px;
	display:flex;
	justify-content:space-between;
	max-width: 1024px;
  }
  form{
	margin-top: 62px;
	padding-top:25px;
	background:linear-gradient(#00674b, #02986e);
	max-width: 1024px;
  }
  form h1{
	font-size: 25px;
	color:white;
	margin:0 auto;
	text-align: center;
  }
  form textarea {
	width:50%;
	height:250px;
  }
  form .rform{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 45%;
  }
  form .rform p{
	color:white;
	width:99%;
	display: flex;
	flex-direction:column;
	margin: 5px auto;
	
  }
  form .rform p input{
	height:30px;
  }
  form .rform .sub{
	width:75px;
	height:35px;
	border-radius: 5px;
	margin:5px;
	margin-top:20px;
	border: none;
	background-color: #00cc98;
	color:white;
	cursor:pointer;
  }
  footer{
	max-width: 1024px;
	height:120px;
	display:flex;
	justify-content: space-between;
	box-sizing: border-box;
  }
  footer .flogo{
	margin-left:10px;
	margin-top:20px;
	display: flex;
	align-items:flex-start;
  }
  footer .connection p a{
	text-decoration: none;
	color:#e45988;

  }
  footer .connection p{

	margin:0 ;
  }
  .connection
  {
	margin-top:20px;
	margin-right:10px;
	display: flex;
	align-items:flex-start;
	flex-direction: column;
  }
  *{
	border:1px solid red;
  }
  @media(max-width: 992px){
	.hex{
	  flex-direction:column;
	  
	}
	.hex .seconds{
	  justify-content: space-between;
	  align-items:center;
	}
	.hamburger {
	  display: block;
	  height:100%;
	}
  
	.hex ul{
    /*   這邊在js就有定義到，但是在網頁開啟時若沒寫這行還是會造成錯誤 */
      display:none;
	  flex-direction: column;
      justify-content: center;
      align-items: center;
	  }
	.threeclass{
		flex-direction:column;
	}
	.class{
		display:flex;
		flex-direction: column;
		align-items: center;
		width:100%;
		
	}


  
  }
  @media(max-width:764px)
  {
	table tr{
		font-size: 10px;
	}
  }
  @media(max-width:450px)
  {
	.connection p{
		display: flex;
		flex-direction: column;
		font-size:9px;
	}
  }
  @media(max-width: 400px)
  {	
	main .banner p{
		font-size:20px;
	  }
	  table tr{
		font-size: 6px;
	}
	.class p{
		font-size:10px;
	  } 
  }